
body
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: justify;
	background-color: whitesmoke;
}
header
{
	margin-bottom: 20px;
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 45px;
	color: darkred;
}
.partenaire
{
	width: 50%;
	align-content: center;
	margin-left: 25%;
	margin-right: 25%;
}
.logo_gbaf
{
	float: left;
}
.presentation
{
	margin-top: 10%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10%;
	width: 50%;
	height: 25%;
	text-align: justify;

}
h2
{
	text-align: center;
	font-size: 30px;
	color: red;
}
.acteur
{
	padding: 5px;
	
}
.logo
{
	padding: 2px;
	width: 20%;
	height: 20%;
}
.nom_acteur
{
	text-decoration: underline;
	text-align: center;
	font-size: 20px;
	color: red;
}

.logo_acteur
{
	width: 150px;
	height: 150px;
	border: 4px black solid;

}
.description
{
	text-align: justify;
}
h4
{
	text-align: left;
}
.nom_acteur2
{
	text-align: center;
	text-decoration: underline;
	color: darkred;
	font-size: 50px;
}
.bloc_acteur
{
	border: 2px black solid;
}
h3
{
	text-align: center;
}

.footer
{
	display: flex;
	flex-wrap: wrap;
}
.contact
{
	text-align: justify;
	width: 50%;
}
.bouton_reseaux
{
	width: 50%;
}
.copyright
{
	text-align: center;
}