body
{
	background-color: #e0b9b9
	

}
header{
	min-width: 100%;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.container
{
	display: flex;
	flex-direction: column;
	font-size: 20;
	background-color: #e0b9b9;
	justify-content: space-around;
	align-items: center;
		
}
.container>.en_tete{
	min-height: 160px;
	min-width: 100%;
}
.container>.corps_page{
	text-align: center;
	width: 100%;
}
.login{

}
h3
{
	padding-bottom: 20px;
	text-align: left;
}
.partenaire
{
	width: 80%;
}
.description
{
	padding-bottom: 10px;
}
.logo
{
	display: block;
	float: left;
}
